.sidebar {
    height: 100vh;
    width: 90%;
    float: right;
}

.sidebar li {
    list-style: none;

}

.sidebar a {
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

table {
    width: 50%;
    margin: auto;
    text-align: center;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

h1 {
    text-align: center;
}

#side {
    background-color: aliceblue;
    height: 100vh;
    width: 10%;
    float: left;
}

#main {
    height: 100vh;
    width: 90%;
    float: right;

}

#main iframe {
    height: 100vh;
    width: 100%;
}
#side a{
    text-decoration: none;
}